.FullPost {
  width: 80%;
  margin: 20px auto;
  border: 1px solid rgb(8, 0, 0);
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
  height: 300px;
}

.BackgroundImage {
  content: "";
  background: url("../../static/images/searchBarBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(8px, 8px, 10px, gray);
}

.mainDiv {
  background: url("../../static/images/searchBarBackground.png");
  background-position: center;
  /* background-position-x: 30%; */
  background-position-y: -60%;
  background-repeat: no-repeat;
  background-size: 35%;
}

.Edit label {
  display: block;
  color: grey;
}

.Edit button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: #fa923f;
}

.Edit button:hover,
.Edit button:active {
  color: #521751;
}

.Edit button.Delete {
  color: red;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
  color: darkred;
}
