body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  /* The image used */
  /* background-image: url(./static/images/black_background.jpg); */

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}
